<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.illinois.dscs.mypocket" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.AddTransactionActivity"
            android:label="@string/add_transaction_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.AddAccountActivity"
            android:label="@string/label_add_account" />
        <activity
            android:name=".controller.ShowAccountsActivity"
            android:label="@string/label_show_accounts" />
        <activity
            android:name=".controller.EditTransactionActivity"
            android:label="@string/label_edit_transaction" />
        <activity
            android:name=".controller.AddCategoryActivity"
            android:label="@string/label_create_category" />
        <activity
            android:name=".AddCategory"
            android:label="@string/title_activity_add_category" >
        </activity>
        <activity
            android:name=".controller.ShowAccountTransActivity"
            android:label="@string/title_activity_show_account_trans" >
        </activity>
    </application>

</manifest>
